body
{
    background-color: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title
{
    color:#505050;
}

#title
{
    font-size: 40px;
    text-transform: uppercase;
}

a
{
    text-decoration: line-through;
    color:#505050;
}

.post_title
{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post
{
    background-color: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
}

.post_content
{
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 50%;
    text-transform: capitalize;
    text-align: justify;
}

.post_image
{
    margin-bottom: 15px;
    max-width: 100%;
}

.profile_image
{
    border-radius: 50%;
    border: 2px solid #505050;
}

.contacts_list
{
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a
{
    color: blue;
}